@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap");

body,
html {
  font-family: "Josefin Sans";
  color: $american-blue;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

input,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

h1,
h2,
h3 {
  font-weight: bold;
}
