.header {
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: $champagne;

  &__logo-container {
    display: flex;
    align-items: flex-end;
    height: 3em;
    margin: 0 auto 0 0;
  }

  &__logo-icon {
    height: 100%;
  }

  &__logo-text {
    font-style: italic;
    line-height: 1em;
    font-size: 2.2em;
  }
}

.search {
  &__input {
  }
}

.favorites {
  &__design {
  }

  &__select {
  }
}
