.main {
  display: flex;
  flex: 1 1 auto;
  background-color: $tangerine;
  padding: 40px;

  &__forecast,
  &__forecast-card {
    display: flex;
    border-radius: 20px;
  }

  &__forecast-card {
    flex: 0 1 30%;
    background-color: $american-blue;
    border-radius: 20px;
  }

  &__forecast {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 70%;
    padding: 10px;
    background-color: $powder-blue;
  }

  &__forecast-card + &__forecast {
    margin-left: 40px;
  }
}

.forecast-block {
  display: flex;
  flex: 0 1 25%;
  height: 25%;
  color: white;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: $american-blue;
    border-radius: 20px;
  }

  &__icon {
    height: 50%;
    width: 50%;
    background-color: $water;
  }
}
