.main {
  display: flex;
  background-color: $powder-blue;
  flex: 1 1 auto;
  min-height: 20rem;
}

.forecast {
  display: flex;
  flex: 1 1 auto;

  &__days {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 0 1 25%;
    padding: 2rem;
    background-color: $tangerine;
  }

  &__day-card {
    height: 20%;
    width: 100%;
    background-color: $water;

    & + & {
      margin-top: 1rem;
    }
  }

  &__info {
    display: flex;
    background-color: $powder-blue;
    height: 100%;
    padding: 2rem;
    flex: 0 1 75%;
  }

  &__info-content {
    flex: 1 1 auto;
    background-color: $american-blue;
  }
}
